@import 'tailwindcss';

:root {
    --primary: #215c5c;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Cookie", cursive;
}

@layer base {
    body {
        @apply font-[Inter];
    }
}